<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>草，404了</title>
    <link rel="stylesheet" href="/404/style.css" />
  </head>
  <body>
    <main class="container">
      <span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">4</span><span class="particle">4</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span
      ><span class="particle">0</span><span class="particle">0</span>
      <article class="content">
        <p>草，这一页找不到了。</p>
        <p><strong>404 |</strong> 多米诺好菜啊。</p>
        <p>
          <a href="https://bluh.dominoh.com"><button>点我回主页</button></a>
        </p>
      </article>
    </main>
  </body>
</html>
